﻿<div class="modal fade" id="forgot-password-modal" tabindex="-1" role="dialog" aria-labelledby="forgot-password-modal">
        <div class="wrapper">
            <div class="inner">
                <div class="modal-dialog width-400px" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation"><a href="#"><h1>Reset Password</h1></a></li>
                            </ul>
                        </div>
                        <!--end modal-header-->
                        <div class="modal-body">
                            <div class="tab-content">
                            <div id="forgot-password-success" class="alert alert-success fade in hidden">
                                <a  style="position:static;"  href="#" class="close">&times;</a>
                                <strong></strong> 
                            </div>
                            <div id="forgot-password-error" class="alert alert-danger fade in hidden">
                                <a  style="position:static;"  href="#" class="close">&times;</a>
                                <strong></strong> 
                            </div>
                            <div role="tabpanel" class="tab-pane fade active in" id="tab-register">
                                @using (Ajax.BeginForm("ForgotPassword", "Account", new { id = "resetPasswordForm" } , new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnResetSuccess" }))
                                {
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" name="username">
                                    </div>
                                    <div class="clearfix action">
                                        <div class="form-group pull-right">
                                            <button type="submit" class="btn btn-primary btn-rounded">Reset</button>
                                            <button type="button" data-dismiss="modal" class="btn btn-primary btn-rounded">Cancel</button>
                                        </div>
                                    </div>
                                    <!--end action-->
                                }
                                <!--end form-sign-in-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--end modal-content-->
            </div>
            <!--end modal-dialog-->
        </div>
    </div>
</div>