﻿@model WeedAngel.Models.RegisterModel
<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="register-modal">
        <div class="wrapper">
            <div class="inner">
                <div class="modal-dialog width-400px" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation"><a href="#tab-register" aria-controls="tab-register" role="tab" data-toggle="tab"><h1>Register</h1></a></li>
                            </ul>
                        </div>
                        <!--end modal-header-->
                        <div class="modal-body">
                            <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab-register">
                                @using (Ajax.BeginForm("Register", "Account", new object(), new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnRegisterSuccess" }, new { id = "registerForm" }))
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserName)
                                        @Html.TextBoxFor(model => model.UserName, new { placeholder ="User Name" })
                                    </div>
                                    <!--end form-group-->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FirstName)
                                        @Html.TextBoxFor(model => model.FirstName, new { placeholder ="First Name" })
                                    </div>
                                    <!--end form-group-->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Surname)
                                        @Html.TextBoxFor(model => model.Surname, new { placeholder ="Last Name" })
                                    </div>
                                    <!--end form-group-->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email)
                                        @Html.TextBoxFor(model => model.Email, new { placeholder ="Email" })
                                    </div>
                                    <!--end form-group-->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DummyPassword)
                                        @Html.TextBoxFor(model => model.DummyPassword, new { placeholder ="****", type="password" })
                                    </div>
                                    <!--end form-group-->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ConfirmPassword)
                                        @Html.TextBoxFor(model => model.ConfirmPassword, new { placeholder ="****", type="password" })
                                    </div>
                                    <!--end form-group-->
                                    <div class="clearfix action">
                                        <div class="form-group pull-right">
                                            <button type="submit" class="btn btn-primary btn-rounded">Register</button>
                                            <button id="cancelRegisterBtn" type="button" data-dismiss="modal" class="btn btn-primary btn-rounded">Cancel</button>
                                        </div>
                                    </div>
                                    <!--end action-->
                                }
                                <!--end form-sign-in-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--end modal-content-->
            </div>
            <!--end modal-dialog-->
        </div>
    </div>
</div>