﻿@model WeedAngel.Models.LogOnModel
<div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="sign-in-modal">
        <div class="wrapper">
            <div class="inner">
                <div class="modal-dialog width-400px" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tab-sign-in" aria-controls="tab-sign-in" role="tab" data-toggle="tab"><h1>Sign In</h1></a></li>
                            </ul>
                        </div>
                        <!--end modal-header-->
                        <div class="modal-body">
                            <div class="tab-content">                            
                                <div id="sign-in-success" class="alert alert-success fade in hidden">
                                    <a  style="position:static;"  href="#" class="close">&times;</a>
                                    <strong></strong> 
                                </div>
                                <div id="sign-in-error" class="alert alert-danger fade in hidden">
                                    <a  style="position:static;"  href="#" class="close">&times;</a>
                                    <strong></strong> 
                                </div>
                                <div role="tabpanel" class="tab-pane active in" id="tab-sign-in">
                                @using (Ajax.BeginForm("Login", "Account", new object(),  new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnLoginSuccess" }, new { id = "loginForm" }))
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserName)
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                    </div>
                                    <!--end form-group-->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password)
                                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "*****", type = "password" })
                                    </div>
                                    <!--end form-group-->
                                    <div class="clearfix action">
                                        <div class="form-group pull-right">
                                            <button type="submit" class="btn btn-primary btn-rounded">Sign In</button>
                                        </div>
                                       @* <div class="form-group pull-left">
                                            <label><input type="checkbox" name="1">Login Automatically</label>
                                        </div>*@
                                    </div>
                                    <!--end action-->
                                }
                                <!--end form-sign-in-->
                            </div>
                        </div>

                    </div>
                    <!--end modal-body-->
                    <div class="modal-footer">
                        <div class="center">
                            <div><a id="forgotPassLnk" href="#tab-register" data-toggle="modal" data-tab="true" data-target="#forgot-password-modal">Forgot Password?</a></div>
                            <div>New to WeedAngel? <a id="registerLnk" href="#tab-register" data-toggle="modal" data-tab="true" data-target="#sign-in-register-modal">Register an account</a></div>
                        </div>
                    </div>
                    <!--end modal-footer-->
                </div>
                <!--end modal-content-->
            </div>
            <!--end modal-dialog-->
        </div>
    </div>
</div>