﻿@model WeedAngel.Models.DispensaryModel

<div class="row">
    <section id="products">
        <h2>Products</h2>
        <form class="labels-uppercase" id="form-availability">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="form-availability-check-in">Check In</label>
                        <input type="text" class="form-control date" id="form-availability-check-in" name="check-in" placeholder="Check In">
                    </div>
                </div>
                <!--end col-md-3-->
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="form-availability-check-out">Check In</label>
                        <input type="text" class="form-control date" id="form-availability-check-out" name="check-out" placeholder="Check In">
                    </div>
                </div>
                <!--end col-md-3-->
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="invisible">Hidden label</label>
                        <button type="submit" class="btn btn-primary btn-rounded btn-framed form-control">Search</button>
                    </div>
                </div>
                <!--end col-md-3-->
            </div>
            <!--end row-->
        </form>

        <div class="form-reservations">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Price1</th>
                        <th>Price2</th>
                        <th>Price3</th>
                        <th>Price4</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <form id="room_1">
                <table class="table">
                    <tbody>
                        <tr class="room">
                            <td class="room-type">
                                <a href=""><h3>Double Room</h3><figure class="label label-danger">1 Room Left!</figure></a>
                                <p>Consectetur adipiscing elit. Vivamus nec augue ac dui sodales euismod.
                                    Suspendisse at dui sit amet felis commodo dictum.
                                </p>
                                <ul class="info">
                                    <li>Breakfast Included</li>
                                    <li>VAT Included</li>
                                </ul>
                            </td>
                            <td class="persons">2<i class="fa fa-user"></i></td>
                            <td class="price">$96</td>
                            <td class="rooms">
                                <select class="framed" name="room_1_nights">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </td>
                            <td>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-rounded">Reserve Now</button>
                                </div>
                                <!--end form-group-->
                            </td>
                        </tr>
                        <!--end tr.room-->
                    </tbody>
                </table>
                <!--end table-->
            </form>
            <!--edn form#room_1-->
            <form id="room_2">
                <table class="table">
                    <tbody>
                    <tr class="room">
                        <td class="room-type">
                            <a href=""><h3>Family Suite</h3></a>
                            <p>Consectetur adipiscing elit. Vivamus nec augue ac dui sodales euismod.
                                Suspendisse at dui sit amet felis commodo dictum.
                            </p>
                            <ul class="info">
                                <li>Breakfast Included</li>
                                <li>VAT Included</li>
                            </ul>
                        </td>
                        <td class="persons">4+1<i class="fa fa-user"></i></td>
                        <td class="price">$176</td>
                        <td class="rooms">
                            <select class="framed" name="room_2_nights">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </td>
                        <td>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-rounded">Reserve Now</button>
                            </div>
                            <!--end form-group-->
                        </td>
                    </tr>
                    <!--end tr.room-->
                    </tbody>
                </table>
                <!--end table-->
            </form>
            <!--edn form#room_2-->
            <form id="room_3">
                <table class="table">
                    <tbody>
                    <tr class="room">
                        <td class="room-type">
                            <a href=""><h3>Apartment</h3></a>
                            <p>Consectetur adipiscing elit. Vivamus nec augue ac dui sodales euismod.
                                Suspendisse at dui sit amet felis commodo dictum.
                            </p>
                            <ul class="info">
                                <li>Breakfast Included</li>
                                <li>VAT Included</li>
                            </ul>
                        </td>
                        <td class="persons">2+2<i class="fa fa-user"></i></td>
                        <td class="price">$250</td>
                        <td class="rooms">
                            <select class="framed" name="room_3_nights">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </td>
                        <td>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-rounded">Reserve Now</button>
                            </div>
                            <!--end form-group-->
                        </td>
                    </tr>
                    <!--end tr.room-->
                    </tbody>
                </table>
                <!--end table-->
            </form>
            <!--edn form#room_3-->
        </div>
        <!--end form-reservations-->
    </section>
</div>