﻿<div class="col-md-9">
    <div class="main-content">
        <div class="title">
            <div class="left">
                <h1>Dispensary List</h1>
            </div>
             @{
                var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
                if (claimsIdentity != null && !String.IsNullOrEmpty(claimsIdentity.Name))
                {
                    <div class="right">
                        <a href="/Dispensary/Create/" class="btn btn-primary btn-rounded scroll">Create Dispensary</a>
                    </div>
                }
              }
        </div>
        <!--end title-->
        <div id="displayArea" class="row">

        </div>
        <!--end row-->
        <div class="center">
            <a id="loadMore" class="btn btn-default btn-rounded btn-framed">Load More</a>
        </div>
        <br /><br />
        <!--end center-->
    </div>
    <!--end main-content-->
</div>
<!--end col-md-9-->