﻿@model WeedAngel.Models.DispensaryModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Delete</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <input type="submit" value="Delete" />
        }
    </div>
</body>
</html>
