﻿@using System.Web.Optimization;
@using WeedAngel.Models;
@using WeedAngel.Utilities;
@model WeedAngel.Models.DispensaryModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DispensaryName + " | WeedAngel";
}
<script>
    $("#primary-nav ul li").removeClass("active");
    $("#primary-nav ul li:nth-child(3)").addClass("active");
</script>
@Html.HiddenFor(model => model.DispensaryId)
@* Social Media *@
@Html.HiddenFor(model => model.Facebook)
@Html.HiddenFor(model => model.Twitter)
@Html.HiddenFor(model => model.Instagram)
@Html.HiddenFor(model => model.Website)
@Html.HiddenFor(model => model.Street)
@Html.HiddenFor(model => model.City)
@Html.HiddenFor(model => model.State)
@Html.HiddenFor(model => model.Zipcode)
@Html.HiddenFor(model => model.errorText)
@* End *@
<div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Dispensary</a></li>
                <li class="active">Detail</li>
            </ol>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-md-3">
                <div class="sidebar">
                    <section>
                        <h3>Profile Picture</h3>
                        <div id="profile-picture" class="profile-picture single-file-preview">
                            @if (!String.IsNullOrEmpty(Model.AvatarPath))
                            {
                                <img src="@Model.AvatarPath" alt="" class="image" />
                            }
                            else
                            {
                                <img src="/Content/assets/img/items/01.jpg" alt="" class="image" />
                            }
                        </div>
                    </section>
                    <!--end filter-->
                </div>
                <!--end sidebar-->
            </div>
                <!--end col-md-3-->
                <div class="col-md-9 col-sm-8">
                    <div class="quick-navigation" data-fixed-after-touch="">
                        <div class="wrapper">
                            <ul>
                                <li><a href="#description" class="scroll">Description</a></li>
                                <li><a href="#map" class="scroll">Map</a></li>
                                <li><a href="#product" class="scroll">Product</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="main-content">
                        <div class="title">
                            <div class="left">
                                <h1>@Model.DispensaryName</h1>
                                <h3><a href="#">@Model.State</a></h3>
                            </div>
                            <div class="right">
                                <a href="#map" class="icon scroll"><i class="fa fa-map-marker"></i>See on the map</a>
                                @{
                                    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
                                    var sidConst = "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/sid";
                                    var sid = claimsIdentity.Claims.Where(c => c.Type == sidConst)
                                                                    .Select(c => c.Value).SingleOrDefault();
                                    if ((claimsIdentity != null && !String.IsNullOrEmpty(claimsIdentity.Name)) &&
                                        (Model.CreatedBy == Convert.ToInt32(sid))
                                        )
                                    {
                                        <a href="@Url.Action("Edit", "Dispensary", new { dispensaryName = Model.DispensaryName })" class="btn btn-primary btn-rounded scroll">Edit Dispensary</a>
                                    }
                                }
                            </div>
                        </div>
                        <!--end title-->
                        @if (Model.IsPictures)
                        {
                            <section id="gallery">
                                <div class="gallery-detail">
                                    <div class="one-item-carousel">
                                    
                                        @if (Model.ImageSrcList != null)
                                        {
                                            foreach (var image in Model.ImageSrcList)
                                            {
                                                <div class="image">
                                                    <img src="@image" alt="">
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="image">
                                                <img src="/Content/assets/img/items/01.jpg" alt="">
                                             </div>
                                        }
                                    </div>
                                </div>
                            </section>
                        }
                        <h2 id="description">Description</h2>
                        <div class="row">
                            <div class="col-md-8">
                                <section>
                                    <p>
                                        @Model.Description
                                    </p>
                                </section>
                                <section id="map">
                                    <h2>Map</h2>
                                    <div id="map-item" class="map height-300 box"></div>
                                    <!--end map-->
                                    <br/><button id="btnDirection" class="btn btn-primary btn-rounded scroll">Show Directions</button>

                                    <div id="directionResults" class="form-reservations">
                                        <div id="nearbyPlacesDisplay">
                                        </div>
                                    </div>
                            </section>
                            </div>
                            <!--end col-md-8-->
                            <div class="col-md-4">
                                <div class="sidebar">
                                    <aside class="box">
                                    <h2>Schedules</h2>
                                        <dl>
                                            <dt>Sunday:</dt>
                                            <dd>@( Model.SunDayOpen + " - " + Model.SunDayClose)</dd>
                                            <dt>Monday:</dt>
                                            <dd>@(Model.MonDayOpen + " - " + Model.MonDayClose)</dd>
                                            <dt>Tuesday:</dt>
                                            <dd>@(Model.TuesDayOpen + " - " + Model.TuesDayClose)</dd>
                                            <dt>Wednesday:</dt>
                                            <dd>@(Model.WednesDayOpen + " - " + Model.WednesDayClose)</dd>
                                            <dt>Thursday:</dt>
                                            <dd>@(Model.ThursDayOpen + " - " + Model.ThursDayClose)</dd>
                                            <dt>Friday:</dt>
                                            <dd>@(Model.FriDayOpen + " - " + Model.FriDayClose)</dd>
                                            <dt>Satuday:</dt>
                                            <dd>@(Model.SaturDayOpen + " - " + Model.SaturDayClose)</dd>
                                    </aside>
                                    <aside>
                                        <h2>Contact</h2>
                                        <address>
                                            <strong>@Model.DispensaryName</strong><br>
                                            @Model.Address<br>
                                            <br>
                                            @Model.PhoneNo<br>
                                            <a href="#">@Model.Email</a><br>
                                        </address>

                                       @if (!String.IsNullOrEmpty(Model.Facebook) || !String.IsNullOrEmpty(Model.Twitter) ||
                                            !String.IsNullOrEmpty(Model.Instagram) || !String.IsNullOrEmpty(Model.Website))
                                       {
                                        <h2>Social Profiles</h2>
                                        <div class="social-icons">
                                            @if (!String.IsNullOrEmpty(Model.Facebook))
                                            {
                                                <a id="link-facebook" href="#"><i class="fa fa-facebook"></i></a>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.Twitter))
                                            {
                                                <a id="link-twitter" href="#"><i class="fa fa-twitter"></i></a>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.Instagram))
                                            {
                                                <a id="link-instagram" href="#"><i class="fa fa-instagram"></i></a>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.Website))
                                            {
                                                <a id="link-website" href="#"><i class="fa fa-link"></i></a>
                                            }
                                        </div>
                                       }
                                    </aside>
                                </div>
                                <!--end sidebar-->
                            </div>
                            <!--end col-md-4-->
                            </div>
                        <!--end row-->
                        @*<section>
                            <h2>Why Choose This Dispensary?</h2>
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="feature">
                                        <aside class="circle">
                                            <i class="icon_box-checked"></i>
                                        </aside>
                                        <figure>
                                            <h3>200+ Reviews</h3>
                                        </figure>
                                    </div>
                                    <!--end feature-->
                                </div>
                                <!--end col-md-4-->
                                <div class="col-md-4 col-sm-4">
                                    <div class="feature">
                                        <aside class="circle">
                                            <i class="icon_box-checked"></i>
                                        </aside>
                                        <figure>
                                            <h3>Low Prices</h3>
                                        </figure>
                                    </div>
                                    <!--end feature-->
                                </div>
                                <!--end col-md-4-->
                                <div class="col-md-4 col-sm-4">
                                    <div class="feature">
                                        <aside class="circle">
                                            <i class="icon_box-checked"></i>
                                        </aside>
                                        <figure>
                                            <h3>Great Position</h3>
                                        </figure>
                                    </div>
                                    <!--end feature-->
                                </div>
                                <!--end col-md-4-->
                            </div>
                            <!--end row-->
                        </section>*@

                        <section id="product">
                            <h2>Products</h2>
                            <form class="labels-uppercase" id="form-availability">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form-availability-check-in">Product Name</label>
                                            <input id="ProductNameTxt" type="text" class="form-control" id="form-availability-check-in" name="check-in" placeholder="Product Name">
                                        </div>
                                    </div>
                                    <!--end col-md-3-->
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="invisible">Hidden label</label>
                                            <button id="searchProdBtn" type="submit" class="btn btn-primary btn-rounded btn-framed form-control">Search</button>
                                        </div>
                                    </div>
                                    <!--end col-md-3-->
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="invisible">Hidden label</label>
                                            <button id="clearBtn" type="button" class="btn btn-primary btn-rounded btn-framed form-control">Clear</button>
                                        </div>
                                    </div>
                                    <!--end col-md-3-->
                                    @{
                                        if ((claimsIdentity != null && !String.IsNullOrEmpty(claimsIdentity.Name)) &&
                                            (Model.CreatedBy == Convert.ToInt32(sid)))
                                        {
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="invisible">Hidden label</label>
                                                    <button type="button" data-toggle="modal" data-tab="true" data-target="#add-product-modal" class="btn btn-primary btn-rounded btn-framed form-control">Add Product</button>
                                                </div>
                                            </div>
                                        }
                                    }
                                    <!--end col-md-3-->
                                </div>
                                <!--end row-->
                            </form>
                            <div id="productListDisplay"></div>
                        </section>
                        @*<section id="additional-information">
                            <h2>Additional Information</h2>
                            <dl class="info">
                                <dt>Check-in:</dt>
                                <dd>14:00 - 00:00</dd>
                                <dt>Check-out:</dt>
                                <dd><strong>Late Check-out: until 12:00 </strong></dd>
                                <dt>Cancellation:</dt>
                                <dd>Cancellation and prepayment policies vary according to room type.</dd>
                                <dt>Children:</dt>
                                <dd>All children are welcome.</dd>
                                <dt>Pets:</dt>
                                <dd>Pets are not allowed</dd>
                            </dl>
                            <!--end info-->
                        </section>
                        <section id="reviews">
                            <div class="title">
                                <h2 class="pull-left">Reviews</h2>
                                <a href="#write-a-review" class="btn btn-primary btn-rounded pull-right scroll">Write a Review</a>
                            </div>
                            <h3>Overall Score</h3>
                            <ul class="rating-score">
                                <li class="overall"><i class="fa fa-star"></i>9.9</li>
                                <li><span>9.6</span>
                                    <figure>Cleanliness</figure>
                                </li>
                                <li><span>10</span>
                                    <figure>Comfort</figure>
                                </li>
                                <li><span>9.4</span>
                                    <figure>Location</figure>
                                </li>
                                <li><span>9.8</span>
                                    <figure>Facilities</figure>
                                </li>
                                <li><span>10</span>
                                    <figure>Staff</figure>
                                </li>
                                <li><span>10</span>
                                    <figure>Value for money</figure>
                                </li>
                            </ul>
                            <div class="reviews">
                                <div class="review">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <aside class="name">John Doe</aside>
                                            <aside class="date">10.03.2015</aside>
                                        </div>
                                        <!--end col-md-3-->
                                        <div class="col-md-9">
                                            <div class="comment">
                                                <div class="comment-title">
                                                    <figure class="rating">9.5</figure>
                                                    <h4>Beautiful Holiday</h4>
                                                </div>
                                                <!--end title-->
                                                <p>Consectetur adipiscing elit. Vivamus nec augue ac dui sodales euismod.
                                                    Suspendisse at dui sit amet felis commodo dictum. Class aptent taciti
                                                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                                    Integer commodo eleifend erat, vitae tincidunt urna volutpat et.
                                                    Mauris laoreet, sem ut sodales sodales, massa turpis posuere lectus, non
                                                    aliquet massa nisl ac orci.
                                                </p>
                                                <div class="clearfix options">
                                                    <span class="pull-left"><a href="" class="btn btn-framed btn-default btn-rounded btn-small icon"><i class="fa fa-thumbs-up font-color-default"></i>3</a>Helpful Review?</span>
                                                    <span class="pull-right"><a href="" class="link icon font-color-grey"><i class="fa fa-flag"></i>Report</a></span>
                                                </div>
                                                <!--end options-->
                                                <div class="answer">
                                                    <h4>James Green, CEO of the Mountain Paradise Hotel</h4>
                                                    <p>Phasellus venenatis vel orci et lacinia. Duis sollicitudin arcu et hendrerit
                                                        tempor. Aliquam at urna fringilla, auctor tellus eget, vehicula lorem.
                                                        Pellentesque ornare faucibus sapien eget max
                                                    </p>
                                                </div>
                                                <!--end answer-->
                                            </div>
                                            <!--end comment-->
                                        </div>
                                        <!--end col-md-9-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end review-->
                                <div class="review">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <aside class="name">Peter Green</aside>
                                            <aside class="date">10.03.2015</aside>
                                        </div>
                                        <!--end col-md-3-->
                                        <div class="col-md-9">
                                            <div class="comment">
                                                <div class="comment-title">
                                                    <figure class="rating">9.8</figure>
                                                    <h4>Very Good Hotel</h4>
                                                </div>
                                                <!--end title-->
                                                <p>In eleifend odio vel augue mattis, et pharetra dolor ullamcorper. Nulla
                                                    ut porttitor mauris. Sed tincidunt, urna non cursus suscipit, quam velit
                                                    laoreet libero, sit amet tincidunt ex nunc eget eros.
                                                </p>
                                                <div class="clearfix options">
                                                    <span class="pull-left"><a href="" class="btn btn-framed btn-default btn-rounded btn-small icon"><i class="fa fa-thumbs-up font-color-default"></i>10</a>Helpful Review?</span>
                                                    <span class="pull-right"><a href="" class="link icon font-color-grey"><i class="fa fa-flag"></i>Report</a></span>
                                                </div>
                                                <!--end options-->
                                            </div>
                                            <!--end comment-->
                                        </div>
                                        <!--end col-md-9-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end review-->
                            </div>
                            <!--end reviews-->
                        </section>
                        <section id="write-a-review">
                            <h2>Write a Review</h2>
                            <form  class="labels-uppercase clearfix" id="form_reply_1">
                                <div class="alert alert-dark fade in center" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-switch="#review-write">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span class="sr-only">Error:</span>
                                    <a href="#tab-sign-in" data-toggle="modal" data-tab="true" data-target="#sign-in-register-modal">Please Sign in to write a review</a>
                                </div>
                                <div class="review write switch" id="review-write">
                                    <aside class="name">John Doe</aside>
                                    <div class="comment">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="comment-title">
                                                    <h4>Review Your Stay</h4>
                                                </div>
                                                <!--end title-->
                                                <div class="form-group">
                                                    <label for="form_reply_1-name">Title of your review<em>*</em></label>
                                                    <input type="text" class="form-control" id="form_reply_1-name" name="name" placeholder="Beautiful holiday!" required="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="form_reply_1-message">Your Answer<em>*</em></label>
                                                    <textarea class="form-control" id="form_reply_1-message" rows="8" name="answer" required="" placeholder="Describe your stay"></textarea>
                                                </div>
                                                <!--end form-group-->
                                                <div class="form-group pull-right">
                                                    <button type="submit" class="btn btn-primary btn-rounded">Send Review</button>
                                                </div>
                                                <!--end form-group-->
                                            </div>
                                            <!--end col-md-8-->
                                            <div class="col-md-4">
                                                <div class="comment-title">
                                                    <h4>Rating</h4>
                                                </div>
                                                <!--end title-->
                                                <dl class="visitor-rating">
                                                    <dt>Cleanliness</dt>
                                                    <dd class="star-rating active" data-name="cleanliness"></dd>
                                                    <dt>Comfort</dt>
                                                    <dd class="star-rating active" data-name="comfort"></dd>
                                                    <dt>Location</dt>
                                                    <dd class="star-rating active" data-name="location"></dd>
                                                    <dt>Facilities</dt>
                                                    <dd class="star-rating active" data-name="facilities"></dd>
                                                    <dt>Staff</dt>
                                                    <dd class="star-rating active" data-name="staff"></dd>
                                                    <dt>Value for money</dt>
                                                    <dd class="star-rating active" data-name="value"></dd>
                                                </dl>
                                            </div>
                                            <!--end col-md-4-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <!--end comment-->
                                </div>
                                <!--end review-->
                            </form>
                            <!--end form-->
                        </section>*@
                    </div>
                    <!--end main-content-->
                </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->
    
    @Html.Partial("Product/_AddProduct", new ProductModel { productTypes = new Dropdown().GenerateProdTypeDDL() }, new ViewDataDictionary(this.ViewData) { { "DispensaryId", Model.DispensaryId } })
    @Html.Partial("Product/_ProductDetail", new ProductModel(), new ViewDataDictionary(this.ViewData) { { "DispensaryId", Model.DispensaryId } })

    <div id="unauthorized-pop" class="message-popup top-right featured hidden" data-close-after-time="5000">
        <div class="close"><i class="fa fa-times"></i></div>
        <div class="title">Unauthorized!</div>
        <p>You can only edit your own dispensary.</p>
    </div>

@section AdditionalMeta
{
    <meta name="author" content="weedangel">
    <meta name="description" content=@Model.Description>
    <meta name="keywords" content="weedangel," + @Model.DispensaryName>
}

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.validate.min.js");
    @Scripts.Render("~/Scripts/Dispensary/dispensary-detail.js");
}