﻿@using System.Web.Optimization;
@model WeedAngel.Models.DispensaryModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DispensaryName + " | WeedAngel";
}
<script>
    $("#primary-nav ul li").removeClass("active");
    $("#primary-nav ul li:nth-child(3)").addClass("active");
</script>
    @Html.HiddenFor(model => model.ImageSources)
    @Html.HiddenFor(model => model.videoSources)
    @Html.Hidden("deleted-images");
    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Dispensaries", "PageNotFound", "Home")</li>
            <li class="active">Create</li>
        </ol>
            <!--end breadcrumb-->
                
                @using (Html.BeginForm("Edit", "Dispensary", FormMethod.Post, new { id="editForm", @class = "", enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Latitude)
                    @Html.HiddenFor(model => model.Longitude)
                    @Html.HiddenFor(model => model.UniqueKey)
                    @Html.HiddenFor(model => model.IsProfileChanged)
                    @Html.HiddenFor(model => model.DispensaryId)
                    @Html.HiddenFor(model => model.AvatarPath)
                    @Html.HiddenFor(model => model.AvatarName)
                    @Html.HiddenFor(model => model.ExistingImageFiles)
                    @Html.HiddenFor(model => model.AvatarName)
                <section id="main-information">
                    <div class="title">
                        <h2>Main Information</h2>
                        <aside class="step">1</aside>
                    </div>
                    <div class="row">
                        <!--Profile Picture-->
                        <div class="col-md-3 col-sm-3">
                            <section>
                                <h3>Profile Picture</h3>
                                <div id="profile-picture" class="profile-picture single-file-preview">
                                    @if(!String.IsNullOrEmpty(Model.AvatarPath)) 
                                    {
                                        <img src="@Model.AvatarPath" alt="" class="image" />
                                    }
                                    else
                                    {
                                        <img src="/Content/assets/img/items/01.jpg" alt="" class="image" />
                                    }

                                    <div class="input">
                                        <input id="profileImage" name="files" type="file" class="">
                                        <span>Click to upload a picture</span>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <!--end col-md-3-->
                        <div class="col-md-9 col-sm-9">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DispensaryName)
                                        @Html.TextBoxFor(model => model.DispensaryName, new { @class = "form-control", placeholder = "Dispensary Name"})
                                        @Html.ValidationMessageFor(model => model.DispensaryName)
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TimeZoneId)
                                        @Html.DropDownListFor(model => model.TimeZoneId, Model.TimeZoneList, new { @class = "form-control", placeholder = "TimeZoneId" } )
                                        @Html.ValidationMessageFor(model => model.TimeZoneId)
                                    </div>
                                    <!--end form-group-->
                                </div>

                                @*<div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DispensaryUniqueName)
                                        @Html.TextBoxFor(model => model.DispensaryUniqueName, new { @class = "form-control", placeholder = "Dispensary Unique Name" })
                                        @Html.ValidationMessageFor(model => model.DispensaryUniqueName)
                                    </div>
                                    <!--end form-group-->
                                </div>*@

                                <div class="col-md-10">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description)
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Description" })
                                        @Html.ValidationMessageFor(model => model.Description)
                                    </div>
                                    <!--end form-group-->
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Street)
                                        @Html.TextBoxFor(model => model.Street, new { @class = "form-control", placeholder = "Street" })
                                        @Html.ValidationMessageFor(model => model.Street)
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.City)
                                        @Html.TextBoxFor(model => model.City, new { @class = "form-control", placeholder = "City" })
                                        @Html.ValidationMessageFor(model => model.City)
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.State)
                                        @Html.TextBoxFor(model => model.State, new { @class = "form-control", placeholder = "State"})
                                        @Html.ValidationMessageFor(model => model.State)
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Zipcode)
                                        @Html.TextBoxFor(model => model.Zipcode, new { @class = "form-control", placeholder = "Zipcode"})
                                        @Html.ValidationMessageFor(model => model.Zipcode)
                                    </div>
                                    <!--end form-group-->
                                </div>

                                @*<div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.IntroBody)
                                        @Html.TextBoxFor(model => model.IntroBody, new { @class = "form-control", placeholder = "Intro Body" })
                                        @Html.ValidationMessageFor(model => model.IntroBody)
                                    </div>
                                    <!--end form-group-->
                                </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SunDayOpen)
                                        <div class="input-group clockpicker">
                                            @Html.TextBoxFor(model => model.SunDayOpen, new { @class = "form-control", placeholder = "Sunday Open" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SunDayClose)
                                        <div class="input-group clockpicker">
                                            @Html.TextBoxFor(model => model.SunDayClose, new { @class = "form-control", placeholder = "Sunday Close" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MonDayOpen)
                                        <div class="input-group clockpicker">
                                            @Html.TextBoxFor(model => model.MonDayOpen, new { @class = "form-control", placeholder = "Monday Open" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MonDayClose)
                                        <div class="input-group clockpicker">
                                            @Html.TextBoxFor(model => model.MonDayClose, new { @class = "form-control", placeholder = "Monday Close" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TuesDayOpen)
                                        <div class="input-group clockpicker">
                                            @Html.TextBoxFor(model => model.TuesDayOpen, new { @class = "form-control", placeholder = "Tuesday Open" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TuesDayClose)
                                        <div class="input-group clockpicker">
                                            @Html.TextBoxFor(model => model.TuesDayClose, new { @class = "form-control", placeholder = "Tuesday Close" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.WednesDayOpen)
                                        <div class="input-group clockpicker">
                                            @Html.TextBoxFor(model => model.WednesDayOpen, new { @class = "form-control", placeholder = "Wednesday Open" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.WednesDayClose)
                                        <div class="input-group clockpicker">
                                            @Html.TextBoxFor(model => model.WednesDayClose, new { @class = "form-control", placeholder = "Wednesday Close" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ThursDayOpen)
                                        <div class="input-group clockpicker">
                                            @Html.TextBoxFor(model => model.ThursDayOpen, new { @class = "form-control", placeholder = "Thursday Open" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ThursDayClose)
                                        <div class="input-group clockpicker">
                                            @Html.TextBoxFor(model => model.ThursDayClose, new { @class = "form-control", placeholder = "Thursday Close" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FriDayOpen)
                                        <div class="input-group clockpicker">
                                            @Html.TextBoxFor(model => model.FriDayOpen, new { @class = "form-control", placeholder = "Friday Open" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FriDayClose)
                                        <div class="input-group clockpicker">
                                            @Html.TextBoxFor(model => model.FriDayClose, new { @class = "form-control", placeholder = "Friday Close" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SaturDayOpen)
                                        <div class="input-group clockpicker">
                                            @Html.TextBoxFor(model => model.SaturDayOpen, new { @class = "form-control", placeholder = "Saturday Open" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
    
                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SaturDayClose)
                                        <div class="input-group clockpicker">
                                            @Html.TextBoxFor(model => model.SaturDayClose, new { @class = "form-control", placeholder = "Saturday Close" })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <!--end form-group-->
                                </div>
                            </div>
                    </div>
                    <!--end row-->
                                    
                </div>
                </section>
                    <section id="location">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="title">
                                <h2>Location</h2>
                                <aside class="step">2</aside>
                            </div>
                            <div class="form-group">
                                <label for="map-item">Place on Map</label>
                                <div class="map height-300 box" id="map-item"></div>
                            </div>
                            <div class="form-group hidden">
                                <input type="text" class="form-control" id="latitude" name="latitude" hidden="">
                                <input type="text" class="form-control" id="longitude" name="longitude" hidden="">
                            </div>
                            <!--end map-->
                        </div>
                        <!--end col-md-7-->
                        <div class="col-md-5">
                            <h2>Contact Information</h2>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email)
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            <!--end form-group-->
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNo)
                                @Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control", placeholder = "Phone No" })
                                @Html.ValidationMessageFor(model => model.PhoneNo)
                            </div>
                            <!--end form-group-->
                            <div class="form-group-inline">
                                <div class="form-group">
                                        @Html.LabelFor(model => model.Facebook)
                                    @Html.TextBoxFor(model => model.Facebook, new { @class = "form-control", placeholder = "Facebook" })
                                    @Html.ValidationMessageFor(model => model.Facebook)
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Twitter)
                                    @Html.TextBoxFor(model => model.Twitter, new { @class = "form-control", placeholder = "Twitter" })
                                    @Html.ValidationMessageFor(model => model.Twitter)
                                </div>
                                <!--end form-group-->
                            </div>
                            <!--end form-group-inline-->
                            <div class="form-group-inline">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Website)
                                    @Html.TextBoxFor(model => model.Website, new { @class = "form-control", placeholder = "Website" })
                                    @Html.ValidationMessageFor(model => model.Website)
                                </div>
                                <!--end form-group-->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Instagram)
                                    @Html.TextBoxFor(model => model.Instagram, new { @class = "form-control", placeholder = "Instagram" })
                                    @Html.ValidationMessageFor(model => model.Instagram)
                                </div>
                                <!--end form-group-->
                            </div>
                            <!--end form-group-inline-->
                        </div>
                        <!--end col-md-7-->
                    </div>
                    <!--end row-->
                </section>
                <section id="gallery-images">
                    <div class="title">
                        <h2>Gallery (Images)</h2>
                        <aside class="step">3</aside>
                    </div>
                    <div class="file-upload-previews"></div>
                    <div class="file-upload">
                        <input type="file" name="images" id="images" class="file-upload-input with-preview" multiple accept="gif|jpg|png">
                        <span>Click to add images</span>
                    </div>
                </section>

                <section id="gallery-videos">
                    <div class="title">
                        <h2>Gallery (Videos)</h2>
                        <aside class="step">4</aside>
                    </div>
                    <div class="file-upload">
                        <input type="file" name="videos" id="videos" class="file-upload-input file-input-normal " multiple accept="mp4">
                        <span>Click to add videos</span>
                    </div>
                </section>
                    
                <section id="additional-information">
                    <div class="title">
                        <h2>Additional Information</h2>
                        <aside class="step">5</aside>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Services</h3>
                            <ul class="checkboxes inline half list-unstyled">
                                <li><label>@Html.EditorFor(model => model.IsHandicap, new { type="checkbox"}) Handicap </label></li>
                                <li><label>@Html.EditorFor(model => model.IsSecurityGuard, new { type="checkbox"}) Security Guard </label></li>
                                <li><label>@Html.EditorFor(model => model.IsLounge, new { type="checkbox"}) Lounge </label></li>
                                <li><label>@Html.EditorFor(model => model.IsCreditCards, new { type="checkbox"}) Credit Cards </label></li>
                                <li><label>@Html.EditorFor(model => model.Is18, new { type="checkbox"}) Is 18? </label></li>
                                <li><label>@Html.EditorFor(model => model.Is21, new { type="checkbox"}) Is 21? </label></li>
                                <li><label>@Html.EditorFor(model => model.IsPictures, new { type="checkbox"}) Pictures </label></li>
                                <li><label>@Html.EditorFor(model => model.IsVideos, new { type="checkbox"}) Videos </label></li>
                            </ul>
                            <!--end checkboxes-->
                        </div>
                        <!--end col-md-4-->
                    </div>
                    <!--end row-->
                </section>    
                    
                <section>
                    <div class="form-group center">
                        <button type="submit" class="btn btn-primary btn-rounded btn-xlarge">Save</button>
                        <button type="button" class="btn btn-rounded btn-xlarge" onclick="@("window.location.href='" + @Url.Action("Detail", "Dispensary", new { dispensaryName = Model.DispensaryName}) + "'");">Cancel</button>
                    </div>
                </section>
                }
        <!--end main-content-->
    </div>
        <!--end container-->
    </div>
    <!--end page-content-->

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section AdditionalMeta
{
    <meta name="author" content="weedangel">
    <meta name="description" content=@Model.Description>
    <meta name="keywords" content="weedangel," + @Model.DispensaryName>
}

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.validate.min.js");
    @Scripts.Render("~/Scripts/Dispensary/dispensary-edit.js");
}
}