﻿@using System.Web.Optimization;
@model WeedAngel.Models.DispensarySearchModel
@{
    ViewBag.Title = "Dispensary List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $("#primary-nav ul li").removeClass("active");
    $("#primary-nav ul li:nth-child(3)").addClass("active");
</script>
@Html.HiddenFor(model => model.UserId)
@Html.HiddenFor(model => model.IsMyDispensary)
<div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Listing</a></li>
                <li class="active">Detail</li>
            </ol>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar">
                        <div class="box filter">
                            <h2>Search</h2>
                            <form id="form-filter" class="labels-uppercase">
                                <div class="form-group">
                                    <label for="form-filter-destination">Dispensary Name</label>
                                    <input type="text" class="form-control" id="dispensaryName" name="dispensaryName" placeholder="Dispensary Name">
                                </div>
                                <!--end form-group-->
                                @*<div class="form-group-inline">
                                    <div class="form-group">
                                        <label for="form-filter-check-in">Check In</label>
                                        <input type="text" class="form-control date" id="form-filter-check-in" name="check-in" placeholder="Check In">
                                    </div>
                                    <!--end form-group-->
                                    <div class="form-group">
                                        <label for="form-filter-check-out">Nights</label>
                                        <input type="number" class="form-control" id="form-filter-check-out" name="check-out" placeholder="2">
                                    </div>
                                    <!--end form-group-->
                                </div>*@
                                <!--end form-group-inline-->
                                <div class="form-group center">
                                    <button id="searchBtn" type="submit" class="btn btn-primary btn-rounded form-control">Search</button>
                                    <button id="clearBtn" type="submit" class="btn btn-primary btn-rounded form-control">Clear</button>
                                </div>
                            </form>
                            <!--end form-filter-->
                        </div>
                        <!--end filter-->
                    </div>
                    <!--end sidebar-->
                </div>
                <!--end col-md-3-->
                @Html.Partial("_SearchResults")
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->

@section AdditionalMeta
{
    <meta name="author" content="weedangel">
    <meta name="description" content="Dispensary List">
    <meta name="keywords" content="dispensary, weedangel, list, search">
}

@section Scripts {
    @Scripts.Render("~/Scripts/Dispensary/dispensary-list.js");
}