﻿@model WeedAngel.Models.ProductModel
<div class="modal fade" id="add-product-modal" tabindex="-1" role="dialog" aria-labelledby="add-product-modal">
    <div class="wrapper">
        <div class="inner">
            <div class="modal-dialog width-500px" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab-register" role="tab" data-toggle="tab"><h1>Add Product</h1></a></li>
                        </ul>
                    </div>
                    <!--end modal-header-->
                    @using (Html.BeginForm("AddProduct", "Dispensary", FormMethod.Post, new { id = "addProductForm", enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(model => model.ProductDispensaryId, new { @value = @ViewData["DispensaryId"] })
                        @Html.HiddenFor(model => model.ProductId)
                        @Html.HiddenFor(model => model.FileName)
                        <div class="modal-body">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab-register">
                                    <div class="form-group">
                                        <div class="item" style="width:50%; margin:0 auto;">
                                            <div class="item-wrapper">
                                                    <div id="profile-picture" class="profile-picture single-file-preview">
                                                    <img src="@Url.Content("~/Content/assets/img/person-01.jpg")" alt="" class="image">
                                                    <div class="input" style="z-index: 999;">
                                                        <input id="productImg" name="file" type="file" class="">
                                                        <span>Upload a picture</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                
                                    <div class="form-group">
                                        <div class="col-md-inherit col-sm-inherit">
                                            @Html.LabelFor(model => model.ProductName)
                                            @Html.EditorFor(model => model.ProductName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <!--end form-group-->

                                    <div class="form-group">
                                        <div class="col-md-inherit col-sm-inherit">
                                            @Html.LabelFor(model => model.Description)
                                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <!--end form-group-->

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CategoryTypeId)
                                        @Html.DropDownListFor(model => model.CategoryTypeId, Model.productTypes, new { @class = "form-control" })
                                    </div>
                                    <!--end form-group-->
                                    <div id="non-edible">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Price1)
                                            @Html.EditorFor(model => model.Price1, new { @class = "form-control", Value = ""  })
                                        </div>
                                        <!--end form-group-->
                                        <div class="form-group">
                                        
                                            @Html.LabelFor(model => model.Price2)
                                            @Html.EditorFor(model => model.Price2, new { @class = "form-control", Value = ""  })
                                        </div>
                                        <!--end form-group-->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Price3)
                                            @Html.EditorFor(model => model.Price3, new { @class = "form-control", Value = ""  })
                                        </div>
                                        <!--end form-group-->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Price4)
                                            @Html.EditorFor(model => model.Price4, new { @class = "form-control", Value = ""  })
                                        </div>
                                        <!--end form-group-->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Price5)
                                            @Html.EditorFor(model => model.Price5, new { @class = "form-control", Value = ""  })
                                        </div>
                                    </div>
                                    <div id="edible">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Each)
                                            @Html.EditorFor(model => model.Each, new { @class = "form-control" })
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end form-group-->
                                    <div class="clearfix action">
                                        <div class="form-group pull-right">
                                            <button id="submitBtn" type="submit" class="btn btn-primary btn-rounded">Add</button>
                                            <button id="cancelBtn" type="button" data-dismiss="modal" class="btn btn-primary btn-rounded">Cancel</button>
                                        </div>
                                    </div>
                                    <!--end action-->
                                <!--end form-sign-in-->
                            </div>
                        </div>
                    }
                    </div>
                    <!--end modal-body-->
                </div>
            <!--end modal-content-->
        </div>
        <!--end modal-dialog-->
    </div>
</div>