﻿@model List<WeedAngel.Models.ProductListModel>

@foreach(var productList in Model)
    {
        <div class="form-reservations">
            <div class="table-responsive">
                <table class="table" style="table-layout: fixed; width: 100%">
                    <thead>
                        <tr>
                            <th style="@(!(new[]{"Edible","Topicals","Gear"}).Contains(productList.CategoryName) ? "width: 31%;" : "width: 50%;")">
                                <h2>@(productList.CategoryName + "(" + @productList.prodList.Count + ")")</h2>
                            </th>
                            @if(!(new[]{"Edible","Topicals","Gear"}).Contains(productList.CategoryName))
                            {    
                                <th style="width: 10%; text-align:right;">GRAM</th>
                                <th style="width: 10%; text-align:right;">2 GRAMS</th>
                                <th style="width: 10%; text-align:right;">1/8</th>
                                <th style="width: 10%; text-align:right;">1/4</th>
                                <th style="width: 10%; text-align:right;">1/2</th>
                            }
                            else
                            {
                                <th style="width: 10%; text-align:right;">Each</th>
                            }
                            @{
                                var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
                                var sidConst = "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/sid";
                                var sid = claimsIdentity.Claims.Where(c => c.Type == sidConst)
                                                                .Select(c => c.Value).SingleOrDefault();
                                if ((claimsIdentity != null && !String.IsNullOrEmpty(claimsIdentity.Name)) &&
                                    (productList.CreatedBy == Convert.ToInt32(sid)))
                                {
                                    <th style="width: 20%;"></th>
                                }
                            }
                        </tr>
                    </thead>
                </table>

            </div>
            <div class="table-responsive">  
                @foreach (var product in productList.prodList)
                {
                    <form id="room_1">
                        <input type="hidden" class="image-path" value="@product.FilePath">
                        <table class="table" style="table-layout: fixed; width: 100%">
                            <tbody>
                                <tr class="room">
                                    <td style="@(!(new[]{"Edible","Topicals","Gear"}).Contains(productList.CategoryName) ? "width: 31%; word-wrap: break-word;" : "width: 50%; word-wrap: break-word;")" 
                                        class="room-type">
                                        <a id="viewProdBtn"
                                           href="#tab-prod-name"
                                           data-toggle="modal"
                                           data-tab="true"
                                           data-target="#product-detail-modal"
                                           data-prod-detail-path="@product.FilePath"
                                           data-prod-detail-filename="@product.FileName"
                                           data-prod-detail-name="@product.ProductName"
                                           data-prod-detail-desc="@product.Description"
                                           data-prod-detail-category="@product.ProductCategoryName"
                                           data-prod-detail-price1="$@product.Price1"
                                           data-prod-detail-price2="$@product.Price2"
                                           data-prod-detail-price3="$@product.Price3"
                                           data-prod-detail-price4="$@product.Price4"
                                           data-prod-detail-price5="$@product.Price5"
                                           data-prod-detail-priceeach="$@product.Each">
                                            <h3 class="product-name">@product.ProductName</h3>
                                        </a>
                                        <p class="product-description">
                                            @product.Description
                                        </p>
                                    </td>
                                    @if (!(new[] { "Edible", "Topicals", "Gear" }).Contains(productList.CategoryName))
                                    {   
                                        <td style="width: 10%; text-align:right;" class="price price1">$@product.Price1</td>
                                        <td style="width: 10%; text-align:right;" class="price price2">$@product.Price2</td>
                                        <td style="width: 10%; text-align:right;" class="price price3">$@product.Price3</td>
                                        <td style="width: 10%; text-align:right;" class="price price4">$@product.Price4</td>
                                        <td style="width: 10%; text-align:right;" class="price price5">$@product.Price5</td>
                                    }
                                    else
                                    {
                                        <td style="width: 10%; text-align:right;" class="price price5">$@product.Each</td>
                                    }
                                    @if ((claimsIdentity != null && !String.IsNullOrEmpty(claimsIdentity.Name)) &&
                                         (productList.CreatedBy == Convert.ToInt32(sid)))
                                    {
                                        <td>
                                            <div class="form-group">
                                                <button id="editProductBtn"
                                                        type="button"
                                                        class="btn btn-primary btn-rounded"
                                                        data-toggle="modal"
                                                        data-tab="true"
                                                        data-target="#add-product-modal"
                                                        data-prod-dispensaryid="@product.ProductDispensaryId"
                                                        data-prod-path="@product.FilePath"
                                                        data-prod-filename="@product.FileName"
                                                        data-prod-name="@product.ProductName"
                                                        data-prod-desc="@product.Description"
                                                        data-prod-category="@product.CategoryTypeId"
                                                        data-prod-price1="@product.Price1"
                                                        data-prod-price2="@product.Price2"
                                                        data-prod-price3="@product.Price3"
                                                        data-prod-price4="@product.Price4"
                                                        data-prod-price5="@product.Price5"
                                                        data-prod-priceeach="@product.Each"
                                                        data-prod-id="@product.ProductId">
                                                    Edit Product
                                                </button>
                                            </div>
                                            <!--end form-group-->
                                        </td>
                                    }
                                </tr>
                                <!--end tr.room-->
                            </tbody>
                        </table>
                        <!--end table-->
                    </form>
                <!--edn form#room_1-->
                }
            </div>
        </div>
        <!--end form-reservations-->
    }