﻿@model WeedAngel.Models.ProductModel
<div class="modal fade" id="product-detail-modal" tabindex="-1" role="dialog" aria-labelledby="product-detail-modal">
    <div class="wrapper">
        <div class="inner">
            <div class="modal-dialog width-500px" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab-register" role="tab" data-toggle="tab"><h1>Product Detail</h1></a></li>
                        </ul>
                    </div>
                    <!--end modal-header-->
                    <form id="prodDetailForm">
                        <div class="modal-body">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab-register">
                                    <div class="form-group">
                                        <div class="item" style="width:50%; margin:0 auto;">
                                            <div class="item-wrapper">
                                                    <div id="profile-picture" class="profile-picture single-file-preview">
                                                    <img src="" alt="" class="image">
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                
                                    <div class="form-group">
                                        <div class="col-md-inherit col-sm-inherit">
                                            <label for="ProductName">Product Name</label>
                                            <input class="text-box single-line" id="ProdDetailName" name="ProdDetailName" type="text" value="" disabled>
                                        </div>
                                    </div>
                                    <!--end form-group-->

                                    <div class="form-group">
                                        <div class="col-md-inherit col-sm-inherit">
                                            <label for="Description">Description</label>
                                            <textarea class="form-control" cols="20" id="ProdDetailDesc" name="ProdDetailDesc" rows="2" disabled></textarea>
                                        </div>
                                    </div>
                                    <!--end form-group-->

                                    <div class="form-group">
                                        <label for="CategoryTypeId">Product Category</label>
                                        <input class="text-box single-line" id="ProdDetailCat" name="ProdDetailCat" type="text" value="" disabled>
                                    </div>
                                    <!--end form-group-->
                                    <div id="non-edible-detail">
                                        <div class="form-group">
                                            <label>GRAM</label>
                                            <input class="text-box single-line" id="ProdDetailPrice1" name="Price1" type="text" value="" disabled>
                                        </div>
                                        <!--end form-group-->
                                        <div class="form-group">
                                        
                                            <label>2 GRAMS</label>
                                            <input class="text-box single-line" id="ProdDetailPrice2" name="Price2" type="text" value="" disabled>
                                        </div>
                                        <!--end form-group-->
                                        <div class="form-group">
                                            <label>1/8</label>
                                            <input class="text-box single-line" id="ProdDetailPrice3" name="Price3" type="text" value="" disabled>
                                        </div>
                                        <!--end form-group-->
                                        <div class="form-group">
                                            <label>1/4</label>
                                            <input class="text-box single-line" id="ProdDetailPrice4" name="Price4" type="text" value="" disabled>
                                        </div>
                                        <!--end form-group-->
                                        <div class="form-group">
                                            <label>1/2</label>
                                            <input class="text-box single-line" id="ProdDetailPrice5" name="Price5" type="text" value="" disabled>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <div id="edible-detail">
                                        <div class="form-group">
                                            <label>Each</label>
                                            <input class="text-box single-line" id="ProdDetailEach" name="Each" type="text" value="" disabled>
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <div class="clearfix action">
                                        <div class="form-group pull-right">
                                            <button type="button" data-dismiss="modal" class="btn btn-primary btn-rounded">Close</button>
                                        </div>
                                    </div>
                                    <!--end action-->
                                <!--end form-sign-in-->
                            </div>
                        </div>
                    </form>
                    </div>
                    <!--end modal-body-->
                </div>
            <!--end modal-content-->
        </div>
        <!--end modal-dialog-->
    </div>
</div>