﻿@model WeedAngel.Models.ContactModel
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $("#primary-nav ul li").removeClass("active");
    $("#primary-nav ul li:nth-child(4)").addClass("active");
</script>
<div id="page-content">
    <div class="container">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Contact Us</li>
        </ol>
        <!--end breadcrumb-->
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">
                    <div class="box filter">
                        <h2>Contact Us</h2>
                        <ul class="links">
                            <li>@Html.ActionLink("About Us", "About", "Home")</li>
                            @*<li><a href="become-an-affiliate.html">Become an Affiliate</a></li>
                            <li><a href="terms-and-conditions.html">Terms & Conditions</a></li>*@
                            <li class="active">@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        </ul>
                    </div>
                    <!--end filter-->
                </div>
                <!--end sidebar-->
            </div>
            <!--end col-md-3-->
            <div class="col-md-9">
                <div class="main-content">
                    <div class="title">
                        <h1>Contact Us</h1>
                    </div>
                    <!--end title-->
                    <section>
                        <div class="row">
                            <div class="col-md-4">
                                <h2>Address</h2>
                                <address>
                                    <strong>Weed Angel</strong><br>
                                    9217 Everwood Ct<br> 
                                    Tampa, FL 33647<br>
                                    <br>
                                    813-453-2225<br>
                                    <a href="staff@weedangel.com">staff@weedangel.com</a><br>
                                    <strong>Skype:</strong> weedangel
                                </address>
                                <h2>Social Profiles</h2>
                                <div class="social-icons">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-youtube"></i></a>
                                </div>
                            </div>
                            <!--end col-md-8-->
                            <div class="col-md-8">
                                <h2>Map</h2>
                                <div id="contact-map" class="map"></div>
                                <!--end contact-map-->
                            </div>
                            <!--end col-md-8-->
                        </div>
                        <!--end row-->
                    </section>
                    <section>
                        @using (Ajax.BeginForm("Contact", "Home", new { }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnContactSuccess" }, new { id = "contact-form" }))
                        {
                            <h2>Contact Form</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@Html.DisplayNameFor(model => model.Name)<em>*</em></label>
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Name" })
                                    </div>
                                </div>
                                <!--end col-md-6-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@Html.DisplayNameFor(model => model.Email)<em>*</em></label>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                                    </div>
                                </div>
                                <!--end col-md-6-->
                            </div>
                            <!--end row-->
                            <div class="form-group">
                                <label>@Html.DisplayNameFor(model => model.Message)<em>*</em></label>
                                @Html.TextAreaFor(model => model.Message, new { @class = "form-control", placeholder = "Message", rows = 8 })
                            </div>
                            <!--end form-group-->
                            <div id="form-status" class="pull-left"></div>
                            <div class="form-group pull-right">
                                <button type="submit" class="btn btn-primary btn-rounded">Send Message</button>
                            </div>
                            <!--end form-group-->
                        }
                        <!--end form-->
                    </section>
                </div>
                <!--end main-content-->
            </div>
            <!--end col-md-9-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</div>
<!--end page-content-->
<div id="contact-success" class="message-popup middle featured hidden" data-close-after-time="5000">
        <div class="close"><i class="fa fa-times"></i></div>
        <div class="title">Message Sent</div>
        <p>Successfully sent message.</p>
</div>

<script>
    var _latitude = 28.161895;
    var _longitude = -82.342017;
    var element = "contact-map";
    simpleMap(_latitude,_longitude, element);
</script>

@section AdditionalMeta
{
    <meta name="author" content="weedangel">
    <meta name="description" content="Contact Us">
    <meta name="keywords" content="weedangel, inquiry, contact, company">
}