﻿@model WeedAngel.Models.HomeModel
@using System.Web.Optimization;
@{
    ViewBag.Title = "Home Page";
}
<script>
    $("#primary-nav ul li").removeClass("active");
    $("#primary-nav ul li:nth-child(1)").addClass("active");
</script>

<div id="page-content">
    <div class="hero-section" data-height="600">
        @Html.HiddenFor(model => model.MessageCode);
        @Html.HiddenFor(model => model.Message);
        <form id="form-hero">
            <div class="hero-inner">
                <div class="hero-wrapper" >
                    <div class="caption">
                        <div class="inner">
                            <div class="container">
                                <h1 class="center">Find The Best Dispensary</h1>
                                <div class="row no-gutters">
                                    <div class="col-md-10 col-sm-10">
                                        <div class="form-group">
                                            <label class="label-on-input" for="address-autocomplete">Location</label>
                                            <input id="zipCode" type="text" class="form-control"   placeholder="Enter Zip Code">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-default">Search</button>
                                        </div>
                                    </div>
                                </div>
                                <!--end favorite-searches-->
                            </div>
                            <!--end container-->
                            <div class="bg-transfer"><img src="https://s3-us-west-1.amazonaws.com/weedangel/static/images/bg-hero.jpg" alt=""></div>
                            <!--end bg-transfer-->
                        </div>
                        <!--end inner-->
                    </div>
                    <!--end caption-->
                </div>
                <!--end hero-wrapper-->
                <div id="options-hidden" class="collapse">
                    <div class="container">
                        <div class="wrapper">
                            <h2>Facilities</h2>
                            <div class="row">
                                <div class="col-md-8 col-sm-6">
                                    <ul class="checkboxes inline">
                                        <li><label><input type="checkbox" name="wi-fi">Wi-fi</label></li>
                                        <li><label><input type="checkbox" name="free-parking">Free Parking</label></li>
                                        <li><label><input type="checkbox" name="airport">Airport Shuttle</label></li>
                                        <li><label><input type="checkbox" name="family-rooms">Family Rooms</label></li>
                                        <li><label><input type="checkbox" name="pets">Pets Allowed</label></li>
                                        <li><label><input type="checkbox" name="restaurant">Restaurant</label></li>
                                        <li><label><input type="checkbox" name="indoor-pool">Indoor Pool</label></li>
                                        <li><label><input type="checkbox" name="brakfast-only">Breakfast Only</label></li>
                                    </ul>
                                    <!--end checkboxes-->
                                </div>
                                <!--end col-md-8-->
                                <div class="col-md-4"></div>
                                <!--end col-md-4-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end wrapper-->
                    </div>
                    <!--end container-->
                </div>
            </div>
            <!--end hero-inner-->
            @*<div class="plate">
                <a data-toggle="collapse" href="#options-hidden" aria-expanded="false" aria-controls="options-hidden">View Further Options</a>
            </div>*@
            <!--end plate-->
        </form>
        <!--end form-->
        <div class="map-wrapper">
            <div class="plate white">
                <a id="show-map" href="#" data-switch="#form-hero">Show Map</a>
            </div>
            <!--end plate-->
            <div id="map-item-home" class="map height-100"></div>
            <!--<img src="Content/assets/img/map.jpg" alt="">-->
        </div>
    </div>
    <!--end hero-section-->

    <div class="block">
        <div class="container">
            <div class="title">
                <h2>Top Dispensary</h2>
            </div>
            <div class="row">
                <div id="top-dispensaries">
                    @foreach (var dispensary in Model.topDispensaries)
                    { 
                        <div class="col-md-3 col-sm-6">
	                        <div class="item big equal-height">
		                        <div class="item-wrapper">
			                        <div class="image">
				                        <a href="@Url.Action("Detail", "Dispensary", new { dispensaryName = dispensary.dispensaryName})" class="wrapper">
					                        <div style="width:100%; height:inherit;">
						                        @if (!String.IsNullOrEmpty(dispensary.avatarPath)) 
                                                {
	                                                <img style="width:inherit; height:inherit;" src="@dispensary.avatarPath" alt="">
                                                }
                                                else
                                                {
	                                                <img style="width:inherit; height:inherit;" src="/Content/assets/img/items/01.jpg" alt="" class="image" />
                                                }

					                        </div>
				                        </a>
			                        </div>
			                        <div class="description">
				                        <div class="info">
					                        <figure class="label label-info"> @dispensary.street</figure>
					                        <a href="@Url.Action("Detail", "Dispensary", new { dispensaryName = dispensary.dispensaryName})" target="_blank"><h3> @dispensary.dispensaryName</h3></a>
					                        <figure class="location"> @dispensary.dispensaryDesc</figure>
				                        </div>
			                        </div>
			                        <div class="map-item">
				                        <button class="btn btn-close"><i class="fa fa-close"></i></button>
				                        <div class="map-wrapper"></div>
			                        </div>
			                        </div>
	                          </div>
                        </div>;
                    }
                </div>
                <!--col-md-3-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end block-->
</div>
<!--end page-content-->
@section AdditionalMeta
{
    <meta name="author" content="weedangel">
    <meta name="description" content="Home Page">
    <meta name="keywords" content="weedangel, home, index, company">
}
@section Scripts {
    @Scripts.Render("~/Scripts/Home/home.js");
}