﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/assets/fonts/font-awesome.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/assets/fonts/elegant-fonts.css")" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/bootstrap/css/bootstrap.css")" type="text/css">
    @*<link rel="stylesheet" href="@Url.Content("~/Content/assets/css/zabuto_calendar.min.css")" type="text/css">*@
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/owl.carousel.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/style.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/bootstrap-clockpicker.css")" type="text/css">

    @*<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>   *@
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/jquery-2.2.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/jquery-migrate-1.2.1.min.js")"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places,geometry&key=AIzaSyBeW2C27ikh9T3XOBNuCyUwRwYKp7Z1hnk"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/infobox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/markerclusterer.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/richmarker-compiled.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/markerwithlabel_packed.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/icheck.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/owl.carousel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/masonry.pkgd.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/jQuery.MultiFile.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/maps.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/jquery-clockpicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/custom.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/external/ajax.markers.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/common.js")"></script>

    @RenderSection("AdditionalMeta", false)
</head>
<body>
    <div class="page-wrapper">
        <div id="page-header">
            <header>
                <div class="container">
                    <div class="secondary-nav">
                        <div class="nav-trigger"><a data-toggle="collapse" href="#secondary-nav" aria-expanded="false" aria-controls="secondary-nav"><i class="fa fa-user"></i></a></div>
                        <div id="secondary-nav">
                            <nav>
                                <div class="left opacity-60">
                                    <a href=""><i class="fa fa-phone"></i>813-453-2225</a>
                                    <a href="mailto:staff@weedangel.com"><i class="fa fa-envelope"></i>staff@weedangel.com</a>
                                </div>
                                <!--end left-->
                                
                                <div class="right">
                                     @{
                                         var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

                                         if (claimsIdentity != null && !String.IsNullOrEmpty(claimsIdentity.Name))
                                         {
                                            <div class="element"> 
                                                <strong>Welcome, @claimsIdentity.Name.ToString()</strong> &nbsp;&nbsp;
                                            </div>
                                            <div class="element">
                                                <a href='@Url.Action("SignOut", "Account")'>Sign Out</a>
                                            </div>
                                         }
                                         else
                                         {
                                            @*<div class="element">
                                                <select>
                                                    <option>$</option>
                                                    <option>€</option>
                                                </select>
                                            </div>*@
                                            <!--end element-->
                                            <div class="element">
                                                <a href="#tab-sign-in" data-toggle="modal" data-tab="true" data-target="#sign-in-modal">Sign In</a>
                                            </div>
                                            <!--end element-->
                                            <div class="element">
                                                <a href="#tab-register" data-toggle="modal" data-tab="true" data-target="#register-modal">Register</a>
                                            </div>
                                            <!--end element-->
                                            @*<div class="element">
                                                <select>
                                                    <option>EN</option>
                                                    <option>DE</option>
                                                    <option>RU</option>
                                                    <option>ES</option>
                                                </select>
                                            </div>*@
                                            <!--end element-->
                                         }
                                    }
                                    
                                </div>
                                <!--end right-->
                            </nav>
                        </div>
                    </div>
                    <!--end secondary-nav-->
                </div>
                <!--end container-->
                <hr>
                <div class="container">
                    <div class="primary-nav">
                        <div class="left">
                            <a href="/Home/Index" id="brand">
                                <img src="https://s3-us-west-1.amazonaws.com/weedangel/static/images/weed-logo.png" alt=""></a>
                            <a class="nav-trigger" data-toggle="collapse" href="#primary-nav" aria-expanded="false" aria-controls="primary-nav"><i class="fa fa-navicon"></i></a>
                        </div>
                        <!--end left-->
                        <div class="right">
                            <nav id="primary-nav">
                                <ul>
                                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>
                                        @Html.ActionLink("About", "About", "Home")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Dispensaries", "Index", "Dispensary")
                                    </li>
                                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                                    @{
                                        if (claimsIdentity != null && !String.IsNullOrEmpty(claimsIdentity.Name))
                                        {
                                            <li><a href="#">Profile</a>
                                                <ul class="child-nav">
                                                    <li>@Html.ActionLink("View Profile", "Index", "User")</li>
                                                    <li>@Html.ActionLink("Dispensaries", "Index", "Dispensary", new { myDispensary = true }, new { })</li>
                                                </ul>
                                            </li>
                                        }
                                    }
                                </ul>
                            </nav>
                            <!--end nav-->
                        </div>
                        <!--end right-->
                    </div>
                    <!--end primary-nav-->
                </div>
                <!--end container-->
            </header>
            <!--end header-->
        </div>
        <!--end page-header-->

        @RenderBody()
        <footer id="page-footer">
            @*<div class="row-one">
                <div class="container">
                    <div class="logos">
                        <div class="logo">
                            <a href="#"><img src="/Content/assets/img/logo-1.png" alt=""></a>
                        </div>
                        <!--/ .logo-->
                        <div class="logo">
                            <a href="#"><img src="/Content/assets/img/logo-2.png" alt=""></a>
                        </div>
                        <!--/ .logo-->
                        <div class="logo">
                            <a href="#"><img src="/Content/assets/img/logo-3.png" alt=""></a>
                        </div>
                        <!--/ .logo-->
                        <div class="logo">
                            <a href="#"><img src="/Content/assets/img/logo-4.png" alt=""></a>
                        </div>
                        <!--/ .logo-->
                        <div class="logo">
                            <a href="#"><img src="/Content/assets/img/logo-5.png" alt=""></a>
                        </div>
                        <!--/ .logo-->
                    </div>
                    <!--/ .logos-->
                </div>
            </div>*@
            <!--end row-one-->
            <div class="row-two clearfix">
                <div class="container">
                    <div class="copyright pull-left">(C) 2016 WeedAngel, All Rights Reserved</div>
                    <div class="footer-nav pull-right">
                        @Html.ActionLink("Home", "Index", "Home")
                        @Html.ActionLink("About", "About", "Home")
                        @Html.ActionLink("Dispensaries", "Index", "Dispensary")
                        @Html.ActionLink("Contact Us", "Contact", "Home")
                    </div>
                </div>
                <div class="bg-transfer">
                    <img src="https://s3-us-west-1.amazonaws.com/weedangel/static/images/footer-bg.jpg" alt=""></div>
            </div>
            <!--end row-two-->
        </footer>
        <!--end page-footer-->
    </div>
    <!--end page-wrapper-->
    <a href="#page-header" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>
    @if (String.IsNullOrEmpty(claimsIdentity.Name))
    {
        @Html.Partial("~/Views/Account/SignInModal.cshtml", new WeedAngel.Models.LogOnModel());
        @Html.Partial("~/Views/Account/RegisterModal.cshtml", new WeedAngel.Models.RegisterModel());
        @Html.Partial("~/Views/Account/ForgotPasswordModal.cshtml", new WeedAngel.Models.RegisterModel());
    }

    <!--[if lte IE 9]>
    <script src="assets/js/ie.js"></script>
    <![endif]-->

    <script>
        $(document).ready(function () {
            var _latitude = 48.47292127;
            var _longitude = 4.28672791;
            var element = "map-item";
            var useAjax = true;
            bigMap(_latitude, _longitude, element, useAjax);
        });

        var baseUrl = "@Url.Content("~")";
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
