﻿@model WeedAngel.Models.PasswordModel
<!--Password-->
<div class="col-md-3 col-sm-9">
    <h3>Password Change</h3>
    <div id="change-pass-success" class="alert alert-success fade in hidden">
        <a  style="position:static;"  href="#" class="close">&times;</a>
        <strong>Password successfully changed!</strong> 
    </div>
    <div id="change-pass-error" class="alert alert-danger fade in hidden">
        <a  style="position:static;"  href="#" class="close">&times;</a>
        <strong>Current password is incorrect.</strong> 
    </div>
    @using (Ajax.BeginForm("ChangePassword", "User", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnChangeSuccess" }, new { @id = "changePasswordForm" }))
    {
        
        <div class="form-group">
            @Html.LabelFor(model => model.OldPassword)
            @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control", type = "password" })
        </div>
        <!--end form-group-->
        <div class="form-group">
            .
            @Html.LabelFor(model => model.NewPassword)
            @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", type = "password" })
        </div>
        <!--end form-group-->
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword)
            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", type = "password" })
        </div>
        <!--end form-group-->
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-rounded btn-framed">Change Password</button>
        </div>
        <!-- end form-group -->
    }
</div>
<!-- end col-md-3-->