﻿@model WeedAngel.Models.UserModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit User";
}
<script>
    $("#primary-nav ul li").removeClass("active");
    $("#primary-nav ul li:nth-child(5)").addClass("active");
</script>
<div id="page-content">
    <div class="container">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("User Profile", "Index", "User")</li>
            <li class="active">Edit Profile</li>
        </ol>
        <!--end breadcrumb-->
        <div class="main-content">
            <!--end title-->
            <div class="row">
                <div class="col-md-9">
                    @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { id = "editForm", enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.UserId)
                        @Html.HiddenFor(model => model.UniqueKey)
                        @Html.HiddenFor(model => model.ProfileImageName)
                        @Html.HiddenFor(model => model.ProfileImagePath)
                        <div class="row">
                            <!--Profile Picture-->
                            <div class="col-md-3 col-sm-3">
                                <section>
                                    <h3>Profile Picture</h3>
                                    <div id="profile-picture" class="profile-picture single-file-preview">
                                        @if(!String.IsNullOrEmpty(Model.ProfileImagePath)) 
                                        {
                                            <img src="@Model.ProfileImagePath" alt="" class="image" />
                                        }
                                        else
                                        {
                                            <img src="/Content/assets/img/person-01.jpg" alt="" class="image" />
                                        }
                                        <div class="input">
                                            <input name="image" type="file" class="">
                                            <span>Click to upload a picture</span>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <!--end col-md-3-->
                            <!--Contact Info-->
                            <div class="col-md-9 col-sm-9">
                                <section>
                                    <h3>Personal Info</h3>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FirstName)
                                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder="First Name" })
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end col-md-3-->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Surname)
                                                @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", placeholder="Last Name" })
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end col-md-3-->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Email)
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder="Email" })
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end col-md-3-->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Mobile)
                                                @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", placeholder="Mobile" })
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end col-md-3-->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Phone)
                                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder="Phone" })
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="gender">Gender</label>
                                                <ul class="checkboxes inline list-unstyled">
                                                    <li class="genderCheck"><label>@Html.CheckBoxFor(model => model.IsMale)Male</label></li>
                                                    <li class="genderCheck"><label>@Html.CheckBoxFor(model => model.IsFemale)Female</label></li>
                                                </ul>
                                                <!--end col-md-3-->
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.MaritalStatus)
                                                @Html.DropDownListFor(model => model.MaritalStatus, Model.MaritalStatusList, new { @class = "form-control" })
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                    </div>
                                </section>
                                <section>
                                    <h3>Address</h3>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.State)
                                        @Html.TextBoxFor(model => model.State, new { @class = "form-control", placeholder="State" })
                                    </div>
                                    <!--end form-group-->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.City)
                                        @Html.TextBoxFor(model => model.City, new { @class = "form-control", placeholder="City" })
                                    </div>
                                    <!--end form-group-->
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Street)
                                                @Html.TextBoxFor(model => model.Street, new { @class = "form-control", placeholder="Street" })
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end col-md-8-->
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Zipcode)
                                                @Html.TextBoxFor(model => model.Zipcode, new { @class = "form-control", placeholder="Zip" })
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                    </div>
                                    <!--end col-md-3-->
                                    @*<div class="form-group">
                                        <label for="additional-address">Additional Address Line (Op)</label>
                                        <input type="text" class="form-control" id="additional-address" name="additional-address">
                                    </div>*@
                                    <!--end form-group-->
                                </section>
                                <section>
                                    <h3>Social Network</h3>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Facebook)
                                                @Html.TextBoxFor(model => model.Facebook, new { @class = "form-control", placeholder="Facebook" })
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end col-md-3-->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Twitter)
                                                @Html.TextBoxFor(model => model.Twitter, new { @class = "form-control", placeholder="Twitter" })
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end col-md-3-->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Instagram)
                                                @Html.TextBoxFor(model => model.Instagram, new { @class = "form-control", placeholder="Instagram" })
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end col-md-3-->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.WannaFollowMeUrl)
                                                @Html.TextBoxFor(model => model.WannaFollowMeUrl, new { @class = "form-control", placeholder="Wanna Follow Me" })
                                            </div>
                                            <!--end form-group-->
                                        </div>
                                        <!--end col-md-3-->
                                    </div>
                                </section>
                                <section>
                                    <h3>About Me</h3>
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.AboutMe)*@
                                        <div class="form-group">
                                            @Html.TextAreaFor(model => model.AboutMe, new {@class="form-control", rows = 3})
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end form-group-->
                                </section>
                                <section>
                                    <h3>Favorite Way To Get High</h3>
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.FavWayToGetHigh)*@
                                        <div class="form-group">
                                            @Html.TextAreaFor(model => model.FavWayToGetHigh, new {@class="form-control", rows = 3})
                                        </div>
                                        <!--end form-group-->
                                    </div>
                                    <!--end form-group-->
                                </section>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-large btn-primary btn-rounded" id="submit">Save Changes</button>
                                    <button type="button" class="btn btn-large btn-rounded" id="cancelBtn" onclick="@("window.location.href='" + @Url.Action("Index", "User") + "'");">Cancel</button>
                                </div>
                                <!-- end form-group -->
                            </div>
                            <!--end col-md-6-->
                        </div>
                    }
                </div>
                @Html.Partial("ChangePassword", new WeedAngel.Models.PasswordModel { OldPassword = Model.Password})
            </div>
        </div>
        <!--end main-content-->
    </div>
    <!--end container-->
</div>
<!--end page-content-->
<script type="text/javascript">
    $(document).ready(function () {
        $('.genderCheck > label').click(function () { 
            $('.genderCheck .icheckbox').removeClass('checked');
            $(this).find('.icheckbox').addClass('checked');
        });

        $('#changePasswordForm').validate({
            errorClass: "my-error-class",
            validClass: "my-valid-class",
            onfocusout: false,
            invalidHandler: function (form, validator) {
                var errors = validator.numberOfInvalids();
                if (errors) {
                    validator.errorList[0].element.focus();
                }
            },
            rules: {
                NewPassword: {
                    required: true,
                },
                ConfirmPassword: {
                    required: true,
                    equalTo: "#NewPassword"
                }
            },
        });

        $('.alert a').click(function () {
            $(this).parent().addClass('hidden');
        });
    });

    function OnChangeSuccess(data) {
        if (data.isSuccess) {
            if (data.res === 1) { // Change password succes
                $('#change-pass-success').removeClass('hidden');
                $('#change-pass-error').addClass('hidden');
            }
            else { // Error - old password is not correct
                $('#change-pass-error').removeClass('hidden');
                $('#change-pass-success').addClass('hidden');
            }
        }
    }
</script>
@section AdditionalMeta
{
    <meta name="author" content="weedangel">
    <meta name="description" content="Edit UserIndex">
    <meta name="keywords" content="weedangel, user, profile, client, edit, update">
}