﻿@model WeedAngel.Models.UserModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "User Detail";
}
<script>
    $("#primary-nav ul li").removeClass("active");
</script>
<div id="page-content">
    <div class="container">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">User Profile</li>
        </ol>
        <!--end breadcrumb-->
        <div class="main-content">
            <!--end title-->
            <div class="row">
                <div class="col-md-9">
                    <form id="form-profile" class="labels-uppercase" method="post" action="?" enctype="multipart/form-data">
                        <div class="row">
                            <!--Profile Picture-->
                            <div class="col-md-3 col-sm-3">
                                <section>
                                    @*<h3>Profile Picture</h3>*@
                                    <div id="profile-picture" class="profile-picture single-file-preview">
                                        @if(!String.IsNullOrEmpty(Model.ProfileImagePath)) 
                                        {
                                            <img src="@Model.ProfileImagePath" alt="" class="image" />
                                        }
                                        else
                                        {
                                            <img src="/Content/assets/img/person-01.jpg" alt="" class="image" />
                                        }

                                        <div class="form-group">
                                            <a href="User/Edit"><input type="button" class="btn btn-group-justified btn-primary" id="btnEdit" value="Update Profile" /></a><br />
                                            <a href='@(Url.Action("Index", "Dispensary", new { myDispensary = true }))'><input type="button" class="btn btn-group-justified btn-primary" id="btnViewDispensary" value="My Dispensaries" /></a>
                                        </div>
                                        @*<div class="input">
                                            <input name="file" type="file" class="">
                                            <span>Click to upload a picture</span>
                                        </div>*@
                                    </div>
                                </section>
                            </div>
                            <!--end col-md-3-->
                            <div class="col-md-9 col-sm-9">
                                <section id="aboutme-information">
                                    <h3>@Html.DisplayNameFor(model => model.AboutMe)</h3>
                                        <p>
                                            @Html.DisplayFor(model => model.AboutMe)
                                        </p>
                                    <!--end info-->
                                </section>
                                <section id="personal-information">
                                    <h2>Personal Information</h2>
                                    <dl class="info">
                                        <dt>Full Name:</dt>
                                        <dd id="name">@(Model.FirstName + " "+ Model.Surname)</dd>
                                        <dt>@Html.DisplayNameFor(model => model.Email):</dt>
                                        <dd id="email"><strong>@Html.DisplayFor(model => model.Email)</strong></dd>
                                        <dt>@Html.DisplayNameFor(model => model.Phone):</dt>
                                        <dd id="phone">@Html.DisplayFor(model => model.Phone)</dd>
                                        <dt>@Html.DisplayNameFor(model => model.Mobile):</dt>
                                        <dd id="mobile">@Html.DisplayFor(model => model.Mobile)</dd>
                                        <dt>@Html.DisplayNameFor(model => model.Gender):</dt>
                                        <dd id="gender">@Html.DisplayFor(model => model.Gender)</dd>
                                        <dt>@Html.DisplayNameFor(model => model.MaritalStatus):</dt>
                                        <dd id="status">@(!String.IsNullOrEmpty(Model.MaritalStatus) ? Model.MaritalStatusList.Where(x => x.Value == Model.MaritalStatus).FirstOrDefault().Text : string.Empty)</dd>
                                    </dl>
                                    <!--end info-->
                                </section>
                                <section id="address-information">
                                    <h2>Address</h2>
                                    <dl class="info">
                                        <dt>@Html.DisplayNameFor(model => model.State):</dt>
                                        <dd id="state">@Html.DisplayFor(model => model.State)</dd>
                                        <dt>@Html.DisplayNameFor(model => model.City):</dt>
                                        <dd id="city">@Html.DisplayFor(model => model.City)</dd>
                                        <dt>@Html.DisplayNameFor(model => model.Street):</dt>
                                        <dd id="street">@Html.DisplayFor(model => model.Street)</dd>
                                        <dt>@Html.DisplayNameFor(model => model.Zipcode):</dt>
                                        <dd id="zip">@Html.DisplayFor(model => model.Zipcode)</dd>
                                    </dl>
                                    <!--end info-->
                                </section>
                                <section id="social-information">
                                    <h2>Social Network</h2>
                                    <dl class="info">
                                        <dt>@Html.DisplayNameFor(model => model.Facebook):</dt>
                                        <dd><a id="facebook" href="#">@(!String.IsNullOrEmpty(Model.Facebook) ? @Html.DisplayFor(model => model.Facebook) :  @Html.DisplayFor(model => model.Facebook))  </a></dd>
                                        <dt>@Html.DisplayNameFor(model => model.Twitter):</dt>
                                        <dd><a id="twitter" href="#">@Html.DisplayFor(model => model.Twitter)</a></dd>
                                        <dt>@Html.DisplayNameFor(model => model.Instagram):</dt>
                                        <dd><a id="instagram" href="#">@Html.DisplayFor(model => model.Instagram)</a></dd>
                                        <dt>@Html.DisplayNameFor(model => model.WannaFollowMeUrl):</dt>
                                        <dd><a id="wannafollowme" href="#">@Html.DisplayFor(model => model.WannaFollowMeUrl)</a></dd>
                                    </dl>
                                    <!--end info-->
                                </section>
                                <section id="favwaytogethigh-information">
                                    <h3>@Html.DisplayNameFor(model => model.FavWayToGetHigh)</h3>
                                    <p>
                                        @Html.DisplayFor(model => model.FavWayToGetHigh)
                                    </p>
                                    <!--end info-->
                                </section>
                                <!-- end form-group -->
                            </div>
                            <!--end col-md-6-->
                        </div>
                    </form>
                </div>
                <!-- end col-md-3-->
            </div>
        </div>
        <!--end main-content-->
    </div>
    <!--end container-->
</div>
<!--end page-content-->

@section AdditionalMeta
{
    <meta name="author" content="weedangel">
    <meta name="description" content="User Index">
    <meta name="keywords" content="weedangel, user, profile, client">
}